<!--alertasView.html-->
<div ng-controller="WinAuthCtrl as vm" class="pull-right">
    <h6>
        {{ user.displayName}}
    </h6>
</div>
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li>
            <a ui-sref="menuConvenio" class="active">Menú convenio</a>
        </li>
        <li class="active">Alertas</li>
    </ol>
</div>

<div>
    <h2>
        Alertas
    </h2>
    <hr class="red">
    <a class="liga" ui-sref="alertaSinActividad">Instrumentos de colaboración sin reporte de actividades</a>
    <p>Listado de los instrumentos de colaboración vigentes a los que no se ha reportado actividad durante un periodo de tiempo</p>
    <br />
    <a class="liga" ui-sref="alertaVencimiento">Instrumentos de colaboración con compromisos próximos a vencimiento</a>
    <p>Listado de los instrumentos de colaboración cuyos compromisos se encuentran cercanos a su vencimiento</p>
    <br />
</div>