<!--busquedaView.html-->
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li>
            <a ui-sref="menuConvenio" class="active">Menú convenio</a>
        </li>
        <li class="active">Modificación convenio</li>
    </ol>
</div>

<div id="busqueda">
    <form id="busquedaForm"
          name="busquedaForm"
          role="form"
          novalidate>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Buscar convenio(s)
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text"
                                       name="searchText"
                                       id="searchText"
                                       class="form-control"
                                       placeholder="Ingrese las palabras clave para la búsqueda."
                                       ng-model="vm.searchText" />

                            </div>
                            <span tabindex="0"
                                  class="btn btn-default pull-right"
                                  ng-click="vm.buscar(vm.searchText)">
                                Buscar
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Número convenio</td>
                                    <td>Convenio</td>
                                    <td>Resumen</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td><a href="" ng-click="vm.getConvenioById(row.convenioId)">{{ row.numeroConvenio }}</a></td>
                                    <td>{{ row.convenio }}</td>
                                    <td>{{ row.resumen }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="paginationSection" name="paginationSection">
                            Ver <select name="mySelect"
                                        id="mySelect"
                                        ng-model="viewBy"
                                        ng-change="setItemsPerPage(viewBy)">
                                <option selected="selected">5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                            </select> elementos por página.

                            <uib-pagination boundary-links="true"
                                            ng-model="currentPage"
                                            ng-change="pageChanged()"
                                            class="pagination-md"
                                            total-items="totalItems"
                                            items-per-page="itemsPerPage"
                                            previous-text="&lsaquo;"
                                            next-text="&rsaquo;"
                                            first-text="&laquo;"
                                            last-text="&raquo;">
                            </uib-pagination>
                            <br />
                            <pre>Página seleccionada: {{currentPage}}</pre>
                        </div>

                    </div>


                </div>
                <div class="panel-footer">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
