<!--convenio.html-->
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li>
            <a ui-sref="menuConvenio" class="active">Menú convenio</a>
        </li>
        <li class="active">Nuevo convenio</li>
    </ol>
</div>
<div class="col-md-10 col-md-offset-1">
    <form id="convenioForm"
          name="convenioForm"
          role="form"
          novalidate>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nuevo convenio
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group"
                                 ng-class="{'has-error': convenioForm.numeroConvenio.$invalid &&
                                                         convenioForm.numeroConvenio.$dirty}">
                                <label class="control-label"
                                       for="numeroConvenio">
                                    Número de convenio
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text"
                                       name="numeroConvenio"
                                       id="numeroConvenio"
                                       class="form-control"
                                       placeholder="Número de convenio"
                                       ng-model="vm.convenio.numeroConvenio"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group"
                                 ng-class="{'has-error': convenioForm.convenio.$invalid &&
                                                         convenioForm.convenio.$dirty}">
                                <label class="control-label"
                                       for="convenio">
                                    Instrumento de colaboración
                                    <span class="text-danger">*</span>
                                </label>
                                <textarea name="convenio"
                                          id="convenio"
                                          class="form-control"
                                          placeholder="Nombre completo del Instrumento de Colaboración, pero debe tener palabras clave que ayuden a su fácil identificación"
                                          ng-model="vm.convenio.convenio"
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label class="control-label">
                                &nbsp;&nbsp; Vigencia del Convenio:
                            </label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group datepicker-group"
                                 ng-class="{'has-error': convenioForm.fechaSuscripcion.$invalid &&
                                                         convenioForm.fechaSuscripcion.$dirty}">
                                <label class="control-label"
                                       for="fechaSuscripcion">
                                    Fecha de suscripción
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control calendarioGobMx"
                                       name="fechaSuscripcion"
                                       id="fechaSuscripcion"
                                       type="text"
                                       ng-model="vm.convenio.fechaSuscripcion"
                                       required>
                                <span class="glyphicon glyphicon-calendar"
                                      aria-hidden="true">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group datepicker-group">
                                <label class="control-label"
                                       for="fechaConclusion">
                                    Fecha de conclusión:
                                </label>
                                <input class="form-control calendarioGobMx"
                                       name="fechaConclusion"
                                       id="fechaConclusion"
                                       type="text"
                                       ng-model="vm.convenio.fechaTermino">
                                <span class="glyphicon glyphicon-calendar"
                                      aria-hidden="true">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label"
                                       for="resumenConvenio">
                                    Resumen (Objetivo del convenio):
                                </label>
                                <textarea name="resumenConvenio"
                                          id="resumenConvenio"
                                          class="form-control"
                                          placeholder="Objeto del Documento Cláusula"
                                          ng-model="vm.convenio.resumen"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group"
                                 ng-class="{'has-error': convenioForm.materia.$invalid &&
                                                         convenioForm.materia.$dirty}">
                                <label class="control-label"
                                       for="materia">
                                    Materia del convenio
                                    <span class="text-danger">*</span>
                                </label>
                                <select name="materia"
                                        id="materia"
                                        class="form-control"
                                        ng-model="vm.convenio.materia"
                                        ng-options="materia.materia for materia in vm.materias track by materia.materiaId"
                                        required
                                        ng-change="vm.changedValueMateria(vm.convenio.materia)"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label"
                                       for="submateria">
                                    Submaterias
                                </label>
                                <select name="submateria"
                                        id="submateria"
                                        class="form-control"
                                        ng-model="vm.convenio.subMateria"
                                        ng-options="materia.materia for materia in vm.subMaterias track by materia.materiaId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            Área(s) vinculante(s):
                        </label>
                        <table class="table table-bordered table-responsive">
                            <thead class="thead-default">
                                <tr>
                                    <td>Área</td>
                                    <td>Tipo de área</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="areaModal in vm.convenio.areas">
                                    <td>{{areaModal.area.area}}</td>
                                    <td>{{areaModal.tipoArea.tipoArea}}</td>
                                    <td>
                                        <a href="" ng-click="vm.deleteItemFromArray(vm.convenio.areas, areaModal)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        <div class="col-md-offset-1">
                            <button id="addArea"
                                    name="addArea"
                                    class="btn btn-success pull-right"
                                    ng-click="vm.toggleModalArea()">
                                Agregar
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            Partes firmantes:
                        </label>
                        <table class="table table-bordered table-responsive">
                            <thead class="thead-default">
                                <tr>
                                    <td>Entidad o dependencia</td>
                                    <td>Representante legal </td>
                                    <td>Cargo</td>
                                    <td>Teléfono </td>
                                    <td>Correo electrónico</td>
                                    <td>Domicilio</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parteModal in vm.convenio.partes">
                                    <td>{{parteModal.parte.parte}}</td>
                                    <td>{{parteModal.representante}}</td>
                                    <td>{{parteModal.cargo}}</td>
                                    <td>{{parteModal.telefono}}</td>
                                    <td>{{parteModal.correoElectronico}}</td>
                                    <td>{{parteModal.domicilio}}</td>
                                    <td>
                                        <a href="" ng-click="vm.toggleModalParte(parteModal)">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="" ng-click="vm.deleteItemFromArray(vm.convenio.partes, parteModal)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        <div class="col-md-offset-1">
                            <button id="addParte"
                                    name="addParte"
                                    class="btn btn-success pull-right"
                                    ng-click="vm.toggleModalParte(undefined)">
                                Agregar
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            Compromisos:
                        </label>
                        <table class="table table-bordered table-responsive">
                            <thead class="thead-default">
                                <tr>
                                    <td>Institución responsable </td>
                                    <td>Compromiso</td>
                                    <td>Fecha estimada </td>
                                    <td>Área vinculante</td>
                                    <td>Ponderación</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="compromisoModal in vm.convenio.compromisos">
                                    <td>{{compromisoModal.parte.parte}}</td>
                                    <td>{{compromisoModal.compromiso}}</td>
                                    <td>{{compromisoModal.fechaCompromiso}}</td>
                                    <td> <span ng-repeat="area in compromisoModal.areas"> {{area.area}}</span></td>
                                    <td>{{compromisoModal.ponderacion}}</td>
                                    <td>
                                        <a href="" ng-click="vm.toggleModalCompromiso(compromisoModal)">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="" ng-click="vm.deleteItemFromArray(vm.convenio.compromisos, compromisoModal)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        <div class="col-md-offset-1">
                            <button id="addCompromiso"
                                    name="addCompromiso"
                                    class="btn btn-success pull-right"
                                    ng-click="vm.toggleModalCompromiso(undefined)">
                                Agregar
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label"
                                       for="comentarios">
                                    Comentarios:
                                </label>
                                <textarea name="comentarios"
                                          id="comentarios"
                                          class="form-control"
                                          placeholder="Comentarios"
                                          ng-model="vm.convenio.comentarios"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"
                                       for="rutaDocumento">
                                    Adjuntar Convenio Digitalizado
                                    <span class="text-danger">*</span>
                                </label>
                                <input name="rutaDocumento"
                                       id="rutaDocumento"
                                       placeholder="Ruta del documento"
                                       type="file"
                                       fileread="vm.convenio.documento"
                                       filename="vm.convenio.nombreDocumento"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-2">
                            <span tabindex="0"
                                  class="btn btn-default pull-right"
                                  ng-click="vm.cancel()">
                                Cancelar
                            </span>
                        </div>
                        <div class="col-md-2">
                            <span tabindex="1"
                                  class="btn btn-primary pull-right"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  ng-click="vm.submit(convenioForm.$valid)">
                                Guardar
                            </span>
                        </div>
                        <!--<div class="col-md-2">
                            <span tabindex="1"
                                  class="btn btn-primary pull-right"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  ng-click="vm.edit(convenioForm.$valid)">
                                Editar
                            </span>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
