<!--convenioDetails.html-->
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li>
            <a ui-sref="menuConvenio" class="active">Menú convenio</a>
        </li>
        <li class="active">Detalles de convenio</li>
    </ol>
</div>

<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li>
            <a ui-sref="menuConvenio" class="active">Menú convenio</a>
        </li>
        <li class="active">Edición de convenio</li>
    </ol>
</div>

<div>
    Detalles de convenio..
</div>