<!--menuConvenioView.html-->
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li class="active">Menú</li>
    </ol>
</div>

<div id="menuConvenioView">
    <h2>
        Administración y seguimiento de convenios
    </h2>
    <hr class="red">
    <a class="liga" ui-sref="convenio">Nuevo Convenio de Colaboración</a>
    <p>Registro de un nuevo Convenio de Colaboración y sus datos generales y compromisos</p>
    <br />
    <a class="liga" ui-sref="convenioEdit">Modificación de Convenio de Colaboración</a>
    <p>Modificación de los datos generales de Convenios de Colaboración y sus compromisos</p>
    <br />
    <a class="liga" ui-sref="seguimiento">Seguimiento de Convenio de Colaboración</a>
    <p> Registro de las evidencias documentales que reflejan el progreso del cumplimiento de los convenios</p>
    <br />
    <a class="liga" ui-sref="alertas">Alertas</a>
    <p>Alertas derivadas de la gestión y cumplimiento de los Convenios de colaboración.</p>
    <br />
</div>
