<!--menuConvenioView.html-->
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li class="active">Menú</li>
    </ol>
</div>

<div id="menuConvenioView">
    <h2>
        Administración y seguimiento de Instrumentos de Colaboración
    </h2>
    <hr class="red">
    <a class="liga" ui-sref="convenio">Nuevo Instrumento de Colaboración</a>
    <p>Registro de un nuevo documento o Instrumento de Colaboración (Datos Generales y Compromisos)</p>
    <br />
    <a class="liga" ui-sref="busquedaConvenio">Modificación de Convenio de Colaboración</a>
    <p>Modificación de los datos generales de Instrumentos de Colaboración y sus compromisos</p>
    <br />
    <a class="liga" ui-sref="convenioSeguimiento">Reporte de avances</a>
    <p>Seguimiento a los pendientes de los Instrumentos de Colaboración</p>
    <br />
    <a class="liga" ui-sref="alertas">Alertas</a>
    <p>Alertas derivadas de la gestión y cumplimiento de los Instrumentos de Colaboración.</p>
    <br />
</div>
