<!--seguimientoCompromisoView.html-->
<div ng-controller="WinAuthCtrl as vm" class="pull-right" ng-show="{{ user.id }}">
    <h6>
        Bienvenido {{ user.displayName}}
    </h6>
</div>
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li>
            <a ui-sref="menuConvenio" class="active">Menú convenio</a>
        </li>
        <li>
            <a ui-sref="seguimiento" class="active">Seguimiento</a>
        </li>
        <li class="active">Actividad</li>
    </ol>
</div>
<div id="seguimientoCompromiso">
    <form id="seguimientoCompromisoForm"
          name="seguimientoCompromisoForm"
          role="form"
          novalidate>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Agregar actividades
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"
                                       for="numeroConvenio">
                                    Número de convenio:
                                </label>
                                <span name="numeroConvenio"
                                      id="numeroConvenio"
                                      ng-bind="vm.convenio.numeroConvenio">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label"
                                       for="convenio">
                                    Convenio:
                                </label>
                                <span name="convenio"
                                      id="convenio"
                                      ng-bind="vm.convenio.convenio">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label"
                                       for="compromiso">
                                    Compromiso:
                                </label>
                                <span name="compromiso"
                                      id="compromiso"
                                      ng-bind="vm.compromiso.compromiso">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            Actividades:
                        </label>
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <td>Número</td>
                                    <td>Fecha</td>
                                    <td>Actividad</td>
                                    <td>Avance Acumulado (%)</td>
                                    <td>Evidencia documental</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="actividad in vm.actividades">
                                    <td>{{$index + 1}}</td>
                                    <td>{{actividad.fechaActividad}}</td>
                                    <td>{{actividad.actividad}}</td>
                                    <td>{{actividad.porcentajeAvance}}</td>
                                    <td>
                                        <a href=""
                                           target="_self"
                                           ng-click="vm.downloadFile(actividad.actividadId)">{{ actividad.nombreDocumento}}</a>
                                    </td>
                                    <td>
                                        <a href="" ng-click="vm.toggleModalActividad(actividad)">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="" ng-click="vm.delete(actividad)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        <div class="col-md-offset-1">
                            <button id="addArea"
                                    name="addArea"
                                    class="btn btn-success pull-right"
                                    ng-click="vm.toggleModalActividad(undefined)">
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-2 pull-right">
                            <span tabindex="0"
                                  class="btn btn-primary pull-right"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  ng-click="vm.goBack()">
                                Regresar
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
