<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li>
            <a ui-sref="menuConvenio" class="active">Menú convenio</a>
        </li>
        <li class="active">Seguimiento</li>
    </ol>
</div>

<div id="seguimiento">
    <form id="seguimientoForm"
          name="seguimientoForm"
          role="form"
          novalidate>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Seguimiento de convenio
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"
                                       for="numeroConvenio">
                                    Número de convenio:
                                </label>
                                <span name="numeroConvenio"
                                      id="numeroConvenio"
                                      ng-bind="vm.convenio.numeroConvenio">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label"
                                       for="convenio">
                                    Convenio:
                                </label>
                                <span name="convenio"
                                      id="convenio"
                                      ng-bind="vm.convenio.convenio">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label"
                                       for="resumen">
                                    Resumen:
                                </label>
                                <span name="resumen"
                                      id="resumen"
                                      ng-bind="vm.convenio.resumen">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label"
                                       for="partes">
                                    Partes:
                                </label>
                                <div id="partes" name="partes" ng-repeat="parte in vm.convenio.partesCompromiso track by parte.parteId">
                                    {{parte.parte}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            Compromisos:
                        </label>
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <td>Número</td>
                                    <td>Institución responsable</td>
                                    <td>Compromiso</td>
                                    <td>Fecha estimada</td>
                                    <td>Área vinculante</td>
                                    <td>Actividades</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="compromiso in vm.convenio.compromisos">
                                    <td>{{compromiso.numeroCompromiso}}</td>
                                    <td>{{compromiso.parte.parte}}</td>
                                    <td>{{compromiso.compromiso}}</td>
                                    <td>{{compromiso.fechaCompromiso}}</td>
                                    <td> <span ng-repeat="area in compromiso.areas"> {{area.area}}</span></td>
                                    <td>
                                        <a href="" ng-click="vm.getCompromisoById(compromiso.compromisoId)">
                                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-2">
                            <span tabindex="0"
                                  class="btn btn-default pull-right"
                                  ng-click="vm.cancel()">
                                Cancelar
                            </span>
                        </div>
                        <div class="col-md-2">
                            <span tabindex="1"
                                  class="btn btn-primary pull-right"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  ng-click="vm.submit(convenioForm.$valid)">
                                Guardar
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
