<!--consultaView.html-->
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li class="active">Consulta</li>
    </ol>
</div>


<div id="consulta">
    <h2>
        Consulta
    </h2>
    <hr class="red" />

    <div class="panel-body">
        <table class="table">

            <thead>
                <tr>
                    <td>Edición</td>
                    <td>Número convenio</td>
                    <td>Convenio</td>
                    <td>Resumen</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="convenio in vm.convenios">
                    <!--<td><a ui-sref="convenioEdit({ id: {{convenio.convenioId}} })">{{ convenio.numeroConvenio }}</a></td>-->
                    <td><a href="" ng-click="vm.getConvenioById(convenio.convenioId)">{{ convenio.numeroConvenio }}</a></td>
                    <td>{{ convenio.numeroConvenio }}</td>
                    <td>{{ convenio.convenio }}</td>
                    <td>{{ convenio.resumen }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>