/*    app.cs */
/*.container {
    background-color: #eee;
}

.panel-default .panel-heading {
    background-color: #00bfff;
}*/


.liga {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    cursor: auto;
}

.red {
    width: 90%;
}


/*.icon-home {
    width: 20px;
    height: 20px;
}*/
