/* app.cs 
 * Created by arquitectonet2
 */

/*.container {
    background-color: #eee;
}

.panel-default .panel-heading {
    background-color: #00bfff;
}*/

.liga {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    cursor: auto;
}

.red {
    width: 90%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background: lightgray;
    font-weight: bold;
}

.well {
    /*padding: 9px 19px;*/
    padding: 1px 5px;
    background-color: inherit;
    border: none;
}

.no-border {
    border: none;
    box-shadow: none;
}

input[type="number"] {
   width:50px;
}

/*
   .icon-home {
    width: 20px;
    height: 20px;
}*/
