<!--estadisticaView.html-->
<div ng-controller="WinAuthCtrl as vm" class="pull-right" ng-show="{{ user.id }}">
    <h6>
        Bienvenido {{ user.displayName}}
    </h6>
</div>
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li class="active">Estadísticas</li>
    </ol>
</div>

<div id="estadistica">
    <h2> Estadísticas </h2>
    <hr class="red" />
    <a class="liga" ui-sref="informePeriodo">Informe por periodo</a>
    <p>Informe estadístico de instrumentos de colaboración por periodo</p>
    <br />
    <a class="liga" ui-sref="informeMateria">Informe por materia</a>
    <p>Informe estadístico de instrumentos de colaboración por materia</p>
    <br />
    <a class="liga" ui-sref="informeArea">Informe por área responsable</a>
    <p>Informe estadístico de instrumentos de colaboración por área responsable</p>
    <br />
    <a class="liga" ui-sref="informeGrado">Informe por grado de cumplimiento</a>
    <p>Informe estadístico de instrumentos de colaboración según el grado de cumplimiento</p>
    <br />
</div>
