<!--informeAreaView.html-->
<div ng-controller="WinAuthCtrl as vm" class="pull-right">
    <h6>
        {{ user.displayName}}
    </h6>
</div>
<div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="icon icon-home"></i></a>
        </li>
        <li>
            <a ui-sref="estadistica">Estadísticas</a>
        </li>
        <li class="active">Por área</li>
    </ol>
</div>

<div id="informeAreaView">
    <form id="informeAreaForm"
          name="informeAreaForm"
          role="form"
          novalidate>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Informe por área responsable
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive">
                        <thead class="thead-default">
                            <tr>
                                <td>Área</td>
                                <td>RI</td>
                                <td>RO</td>
                            </tr>
                        </thead>
                        <tbody ng-init="total = {}">
                            <tr ng-repeat="informe in vm.informe">
                                <td>
                                    <a href=""
                                       ng-click="vm.getConveniosByAreaId(0, 0, informe.areaId, 0, informe.area)"
                                       ui-sref="resultados.tablaConvenio">
                                        {{informe.area}}
                                    </a>
                                </td>
                                <td>
                                    {{informe.responsableInstitucional}}
                                </td>
                                <td>
                                    {{informe.responsableOperativo}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <!--<tr>
                                <td>Total</td>
                                <td>
                                    <a href="" ng-click="vm.getTodosConvenios()">
                                        {{total.numeroConvenios}}
                                    </a>

                                </td>
                            </tr>-->
                        </tfoot>
                    </table>
                    <h4 align="center">{{vm.nombreMateria}}</h4>
                    <div ui-view>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-2 pull-right">
                            <span tabindex="0"
                                  class="btn btn-primary pull-right"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  ng-click="vm.goBack()">
                                Regresar
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
